<footer id="footer">
  <nav>
    <ul class='nav_links'>
      <li>
        <%= link_to 'about', '/about' %>
        <ul class='sub_nav'>
          <li class='sub_nav__items'><%= link_to 'about', '/about' %></li>
          <li class='sub_nav__items'><%= link_to 'blog', '/blog' %></li>
          <li class='sub_nav__items'><%= link_to 'social', '/social' %></li>
        </ul>
      </li>
      <li>
        <%= link_to 'code', '/summary' %>
        <ul class='sub_nav'>
          <li class='sub_nav__items'><%= link_to 'summary', '/summary' %></li>
          <li class='sub_nav__items'><%= link_to 'projects', '/projects' %></li>
        </ul>
      </li>
      <li>
        <%= link_to 'work', '/work' %>
        <ul class='sub_nav'>
          <li class='sub_nav__items'><%= link_to 'full time', '/work' %></li>
          <li class='sub_nav__items'><%= link_to 'freelance', '/freelance' %></li>
          <li class='sub_nav__items'><%= link_to 'resume.pdf', '/resume' %></li>
        </ul>
      </li>
      <li>
        <a href="" title="about">email</a>
      </li>
    </ul>
  </nav>
</footer><!-- /footer -->
